.content{
    background-color: #26282D;
}

.content-dark{
    background-color: #1E2025;
}

.content-flex{
    display: flex;
    background-color: #26282D;
}

.content-text{
    padding: 10px;
    color: #ffffff;
}

.content-text-container{
    color: white; 
    background-color: #1E2025; 
    padding: 80px 10px 80px 10px;
}

#grid-container{
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #26282D;
}

.grid-item>h1{
    color: white;
    text-align: center;
    flex-wrap: wrap;
    transition: 0.2s;
    font-size: 2vw;
}

.grid-item>h1:hover{
    color: white;
    text-align: center;
    flex-wrap: wrap;
    transition: 0.2s;
    font-size: 2.4vw;
}

.grid-item>p{
    color: white;
    text-align: center;
    flex-wrap: wrap;
    transition: 0.2s;
    font-size: 1vw;
}

.grid-item>p:hover{
    color: white;
    text-align: center;
    flex-wrap: wrap;
    transition: 0.2s;
    font-size: 1.4vw;
}

.grid-item>img{
    transition: 0.2s;
    filter: brightness(100%);
    height: 200px
}

.grid-item>img:hover{
    transition: 0.2s;
    height: 300px
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E2025;
    padding: 9px;
    border-style: solid;
    border-width: 4px;
    border-color: #1B1A21;
}